/* SortComponent.module.css */
.sortContainer {
    display: flex;
    align-items: center;
    background-color: #3d9095;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .sortContainer {
        max-width: 100%;
    }
}

label {
    margin-right: 10px;
    color: rgb(255, 255, 255);
}

select {
    padding: 5px;
    border-radius: 5px;
    border: none;
}
