.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;  
    background-color: #282c34; 
   
}

.left-side-content {
    flex: 1;
    max-width: 325px; 
    border-radius: 8px;
    padding: 10px 0px 10px 10px;
    
}

.right-side-content {
    flex: 2;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}
